@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 5%;
  padding: 0;
  background-color: rgb(250,250,250);
}

img {
	display: block;
	width: 100%;
}

.whole-form {
  text-align: center;
  background-color: lightgrey;
}

.title {
  font-size: 2em;
  font-family: 'univers', sans-serif;
  display: block;
  margin-bottom: .5em;
}

.add {
  background-color: rgba(0, 0, 0, .5);
  color: white;
  border: none;
  font-size: 1em;
  height: 2em;
}

.input {
  height: 3em;
  border: none;
}

.list {
  width: 100%;
  min-height: 100%;
  margin: 10%;
}


